.map-box {
  background-image: url(../../images/mapButton.png);
  width: 245px;
  height: 215px;
  background-size: contain;
  background-repeat: no-repeat;
}
.map-box:hover {
  background-image: url(../../images/mapButtonHover.png);
}
.map-box .map-button {
  display: block;
  line-height: 215px;
}

.facebook-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 242px;
  height: 41px;
  background-color: #1877f2;
  border-radius: 4px;
  color: #fff;
  line-height: 41px;
  border: none;
}
.facebook-button img {
  padding-left: 6px;
}
.facebook-button .facebook-text {
  margin: 0;
  padding-right: 17px;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.17px;
}

.declaration {
  width: 880px;
  border: 10px solid #a7ced4;
  background-color: #e3eaea;
  position: relative;
  line-height: 23.17px;
  font-family: Noto Sans TC;
}
.declaration .oneTape {
  position: absolute;
  top: -30px;
  left: -40px;
}
.declaration .twoTape {
  position: absolute;
  bottom: -30px;
  right: -40px;
}
.declaration .content {
  padding: 40px;
}
.declaration .content h2 {
  margin-bottom: 24px;
  font-size: 26px;
}
.declaration .content p {
  margin: 0;
  font-size: 16px;
}

.popuping {
  width: 760px;
  font-family: Noto Sans TC;
}
.popuping header {
  height: 60px;
  background-color: #8dc1c7;
  position: relative;
}
.popuping header h2 {
  margin: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.popuping .close {
  width: 20px;
  height: 20px;
  background-image: url(../../images/Vector.png);
  background-size: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.popuping main {
  padding: 20px 40px;
  background-color: #fff;
}
.popuping main .people {
  width: 200px;
  height: 195px;
  float: left;
  margin-right: 16px;
}
.popuping main h3 {
  margin-bottom: 16px;
  font-size: 24px;
}
.popuping main p {
  line-height: 21.27px;
  font-size: 14px;
}
.popuping main .facebook-button {
  margin-left: 219px;
}

.sticky-notes {
  width: 100%;
  background: linear-gradient(to right bottom, transparent 50%, #fff 0) no-repeat 0% 0/50px 50px, linear-gradient(135deg, transparent 35px, rgba(255, 255, 255, 0.8) 0);
  font-family: Noto Sans TC;
}
.sticky-notes .speech-record {
  padding: 20px;
}
.sticky-notes .speech-record h2 {
  margin-bottom: 33px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.sticky-notes .speech-record .speech-record-content + .speech-record-content {
  margin-top: 20px;
}
.sticky-notes .speech-record .speech-record-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sticky-notes .speech-record .speech-record-content div > div {
  margin-bottom: 10px;
}
.sticky-notes .speech-record .speech-record-content .upper-theme,
.sticky-notes .speech-record .speech-record-content .item {
  display: inline-block;
  font-size: 14px;
}
.sticky-notes .speech-record .speech-record-content .upper-theme {
  font-size: 14px;
  font-weight: 700;
  margin-right: 24px;
}
.sticky-notes .speech-record .speech-record-content .item {
  font-weight: 400;
  width: 70%;
}
.sticky-notes .speech-record .speech-record-content .item .resources-PC {
  display: none;
}
.sticky-notes .speech-record .speech-record-content .resources {
  font-size: 0;
}
.sticky-notes .speech-record .speech-record-content .resources a + a {
  margin-left: 9px;
}
.sticky-notes .speech-record .speech-record-content .Slideshow-download,
.sticky-notes .speech-record .speech-record-content .video-download {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #28c8c8;
  border-radius: 4px;
}
.sticky-notes .speech-record .speech-record-content .Down {
  height: 1px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.sticky-notes .speech-record .speech-record-content .Down {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1019607843);
}

header .container .navbar {
  background-color: #f4f4ee;
  padding: 10px 43px;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 56px;
}
.navbar-brand img {
  object-fit: contain;
  height: 100%;
}

.candidate-logo {
  width: 130px;
}

.party-logo {
  display: none;
}
@media (min-width: 992px) {
  .party-logo {
    display: inline-block;
  }
}

.container .navbar-expand-lg .navbar-nav .nav-link {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 18px;
  color: black;
  padding: 15px 20px;
}
.container .navbar-expand-lg .navbar-nav .nav-link:hover {
  background-color: #30363a;
  color: white;
}

header {
  background-color: #f4f4ee;
}

main .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1920px;
}

body {
  background-color: #50a5a4;
  height: 100vh;
}

.front-page-container {
  position: relative;
  flex-basis: 1641px;
  display: flex;
  justify-content: space-between;
  gap: 178px;
}

.candidate-image {
  align-self: flex-end;
  flex-basis: 397px;
}
.candidate-image img {
  object-fit: contain;
  height: 100%;
}

.candidate-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 200px;
  top: 670px;
}
.candidate-name img {
  width: 100%;
}

.candidate-information {
  align-self: center;
  flex-basis: 1066px;
}

.tainan-three {
  display: flex;
  justify-content: center;
}
.tainan-three__outer-circle {
  position: relative;
  transform: translateY(48px);
  width: 1175px;
  height: 1175px;
  border-radius: 50%;
  background-color: #a7ced4;
}
.tainan-three__outer-circle:hover .people-name {
  transform: translateY(3px);
}
.tainan-three__inner-circle {
  position: absolute;
  top: 32.28px;
  left: 32.28px;
  width: 1109.36px;
  height: 1109.36px;
  border-radius: 50%;
  background-color: #e3eaea;
}
.tainan-three__people {
  position: absolute;
  top: 359.99px;
  left: 137.47px;
  height: 587px;
  width: 857px;
}

.tainan-three-map-button {
  position: absolute;
  left: 1523px;
  top: 158px;
}

.tainan-people-party {
  height: 300px;
  position: absolute;
  top: 59.18px;
  left: 385px;
}
.tainan-people-party img {
  height: 100%;
}

.people-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 126.26px;
  height: 56.04px;
  position: absolute;
}

.kiang-name {
  left: 828.6px;
  top: 798.01px;
}

.kuo-name {
  left: 497.8px;
  top: 718.1px;
}

.ping-name {
  left: 112.49px;
  top: 803.9px;
}

.past-record-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 375px;
  padding: 20px;
}
@media (min-width: 768px) {
  .past-record-container {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
  }
}

.toggle-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .toggle-box {
    flex-direction: column;
    align-self: flex-start;
    width: 233px;
    margin-right: 41px;
  }
}
@media (min-width: 768px) {
  .toggle-box a + a {
    margin-top: 38px;
  }
}
.toggle-box .toggle-speech-record,
.toggle-box .toggle-past-works,
.toggle-box .toggle-related-news {
  display: inline-block;
  width: 98px;
  height: 53px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .toggle-box .toggle-speech-record,
.toggle-box .toggle-past-works,
.toggle-box .toggle-related-news {
    width: 182px;
    height: 80px;
  }
}
.toggle-box .toggle-speech-record:hover,
.toggle-box .toggle-past-works:hover,
.toggle-box .toggle-related-news:hover {
  width: 98px;
  height: 53px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .toggle-box .toggle-speech-record:hover,
.toggle-box .toggle-past-works:hover,
.toggle-box .toggle-related-news:hover {
    width: 182px;
    height: 80px;
  }
}
.toggle-box .toggle-past-works {
  background-image: url(../../images/past-works.png);
}
.toggle-box .toggle-past-works:hover {
  background-image: url(../../images/past-works-dark.png);
}
@media (min-width: 768px) {
  .toggle-box .toggle-past-works {
    background-image: url(../../images/past-works-big.png);
  }
  .toggle-box .toggle-past-works:hover {
    background-image: url(../../images/past-works-big-dark.png);
  }
}
.toggle-box .toggle-speech-record {
  background-image: url(../../images/speech-record.png);
}
.toggle-box .toggle-speech-record:hover {
  background-image: url(../../images/speech-record-dark.png);
}
@media (min-width: 768px) {
  .toggle-box .toggle-speech-record {
    background-image: url(../../images/speech-record-big-new.png);
  }
  .toggle-box .toggle-speech-record:hover {
    background-image: url(../../images/speech-record-big-dark-new.png);
  }
}
.toggle-box .toggle-related-news {
  background-image: url(../../images/related-news.png);
}
.toggle-box .toggle-related-news:hover {
  background-image: url(../../images/related-news-dark.png);
}
@media (min-width: 768px) {
  .toggle-box .toggle-related-news {
    background-image: url(../../images/related-news-big-new.png);
  }
  .toggle-box .toggle-related-news:hover {
    background-image: url(../../images/related-news-big-dark-new.png);
  }
}

/*# sourceMappingURL=style.css.map */
