.front-page-container {
  display: flex;
  @media (min-width: 1920px) {
    height: calc(100vh - 77px);
  }
}

.candidate {
  position: relative;
  display: flex;
  justify-content: space-around;
}
  
.candidate-image {
  position: relative;
  align-self: flex-end;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.candidate-information {
  display: none;
  @media (min-width: 1280px) {
    display: block;
    align-self: center;
    flex-basis: 880px;
    
  }
}
  

.candidate-about-me-button {
  position: absolute;
  left: 300px;
  top: 50px;

  img {
    width: 100%;
  }

  @media (min-width: 1280px) {
    display: none;
  }

}