.front-page-container {
    position: relative;
    flex-basis: 1641px;
    display: flex;
    justify-content: space-between;
    gap: 178px;
    height: calc(100vh - 77px);
  }
  
  .candidate-image {
    align-self: flex-end;
    flex-basis: 397px;
    img {
      object-fit: contain;
      height: 100%;
    }
  }
  
  .candidate-name {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 200px;
    top: 670px;
    img {
      width: 100%;
    }
  }
  
  .candidate-information {
    align-self: center;
    flex-basis: 1066px;
  }
  