@use "../utility";

.navbar-laptop {
  display: none;
  @media (min-width: 992px) {
    display: flex;
  }
}

.navbar-mobile {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
  .brand-container {
    display: flex;
    justify-content: space-between;
  }
  .navbar-nav {
    flex-direction: row;
    overflow: auto;
    .nav-item {
      flex-shrink: 0;
    }
  }
}

header .container .navbar {
  background-color: utility.$header;
  padding: 10px 43px;
}
.navbar-collapse {
  justify-content: end;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 56px;

  img {
    object-fit: contain;
    height: 100%;
  }
}
.candidate-logo {
  width: 130px;
}
.party-logo {
  @media (min-width: 992px) {
    display: inline-block;
  }
}
.container .navbar-expand-lg .navbar-nav .nav-link {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 14px;
  color: black;
  padding: 15px 20px;

  &:hover {
    background-color: #30363a;
    color: white;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

header {
  background-color: utility.$header;
}
