@use "../utility";

header .container .navbar {
  background-color: utility.$header;
  padding: 10px 43px;
}
.navbar-collapse {
  justify-content: end;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 56px;

  img {
    object-fit: contain;
    height: 100%;
  }
}
.candidate-logo {
  width: 130px;
}
.party-logo {
  display: none;
  @media (min-width: 992px) {
    display: inline-block;
  }
}
.container .navbar-expand-lg .navbar-nav .nav-link {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 18px;
  color: black;
  padding: 15px 20px;

  &:hover {
    background-color: #30363a;
    color: white;
  }
}

header {
  background-color: utility.$header;
}
