.district-map-page .container {
  @media (min-width: 992px) {
    height: calc(100vh - 77px);
    overflow: hidden;
  }
}

.tainan-three-page .container {
  @media (min-width: 992px) {
    height: calc(100vh - 77px);
    overflow: hidden;
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page .container {
  @media (min-width: 992px) {
    height: calc(100vh - 77px);
    overflow: hidden;
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.record-of-street-map-page .container {
  @media (min-width: 992px) {
    height: calc(100vh - 77px);
    overflow: hidden;
  }

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
