@use "../utility";

.tainan-container {
  position: relative;
  @media (min-width: 1280px) {
    height: calc(100vh - 77px);
    // overflow: hidden;
    // height: calc(980px + 48px);
  }

  // @media (min-width: 1920px) {
  //   height: calc(100vh - 48px);
  // }
}

.tainan-three {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transform: translateY(40px);
  // padding-top: 182px;
  @media (min-width: 992px) {
    transform: translateY(100px);
  }
  @media (min-width: 1280px) {
    overflow: initial;
    // padding-top: 48px;
    transform: translateY(103px);
  }

  @media (min-width: 1920px) {
    // padding-top: 48px;
    transform: translateY(27px);
  }

  .tainan-three-img {
    object-fit: contain;
    align-self: center;
    height: 120%;
    width: 120%;

    @media (min-width: 992px) {
      height: calc(100vh - 77px);
      width: 100%;
    }

    @media (min-width: 1920px) {
      height: 100%;
      width: 100%;
    }
  }
}

.people-name {
  position: absolute;
  cursor: pointer;
}

.kiang-name {
  top: 70%;
  left: 73%;
  img {
    width: 70%;
    height: 70%;
    @media (min-width: 576px) {
      width: 70%;
      height: 70%;
    }
    @media (min-width: 1920px) {
      width: 90%;
      height: 90%;
    }
  }
}

.kuo-name {
  top: 66%;
  left: 42%;

  @media (min-width: 1920px) {
    top: 66%;
    left: 44%;
  }
  img {
    width: 40%;
    height: 40%;
    @media (min-width: 576px) {
      width: 70%;
      height: 70%;
    }
    @media (min-width: 1920px) {
      width: 90%;
      height: 90%;
    }
  }
}

.ping-name {
  top: 70%;
  left: 13%;
  img {
    width: 40%;
    height: 40%;
    @media (min-width: 576px) {
      width: 70%;
      height: 70%;
    }
    @media (min-width: 1920px) {
      width: 90%;
      height: 90%;
    }
  }
}
