@use '../utility';


.tainan-three {
    display: flex;
    justify-content: center;

    &__outer-circle {
        position: relative;
        transform: translateY(48px);
        width: 1175px;
        height: 1175px;
        border-radius: 50%;
        background-color: utility.$secondary-middle;

        &:hover {
            .people-name {
                transform: translateY(3px);
            }
        }
    }
    &__inner-circle {
        position: absolute;
        top: 32.28px;
        left: 32.28px;
        width: 1109.36px;
        height: 1109.36px;
        border-radius: 50%;
        background-color: utility.$secondary-light;
    }
    &__people {
        position: absolute;
        top: 359.99px;
        left: 137.47px;
        height: 587px;
        width: 857px;
    }
}

.tainan-three-map-button {
    // 參照main container
    position: absolute;
    left: 1523px;
    top: 158px;
}

.tainan-people-party {
    height: 300px;
    position: absolute;
    top: 59.18px;
    left: 385px;

    img {
        height: 100%;
    }
}

.people-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 126.26px;
    height: 56.04px;
    position: absolute;
}

.kiang-name {
    // 吃inner-circle的
    left: 828.6px;
    top: 798.01px;
}

.kuo-name {
    left: 497.8px;
    top: 718.1px;
}

.ping-name {
    left: 112.49px;
    top: 803.9px;
}