@use "../utility";

.tainan-container {
  position: relative;
  @media (min-width: 1920px) {
    height: calc(100vh - 77px);
    // overflow: hidden;
    // height: calc(980px + 48px);
  }

  // @media (min-width: 1920px) {
  //   height: calc(100vh - 48px);
  // }
}

.tainan-three {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transform: translateY(1.8%);

  @media (min-width: 992px) {
    transform: translateY(16.8%);
    overflow: initial;
  }

  @media (min-width: 1920px) {
    transform: translateY(1.8%);
  }

  .tainan-three-img {
    object-fit: contain;
    align-self: center;
    height: 120%;
    width: 120%;

    @media (min-width: 992px) {
      height: calc(100vh - 77px);
      // height: 100%;
      width: 100%;
    }

    @media (min-width: 1920px) {
      // height: calc(100vh - 77px);
      height: 100%;
      width: 100%;
    }
  }
}

.people-name {
  position: absolute;
  cursor: pointer;
}

.kiang-name {
  top: 75%;
  left: 78%;

  @media (min-width: 992px) {
    top: 70%;
    left: 73%;
  }
  img {
    width: 70%;
    height: 70%;
    @media (min-width: 576px) {
      width: 70%;
      height: 70%;
    }
    @media (min-width: 1920px) {
      width: 90%;
      height: 90%;
    }
  }
}

.kuo-name {
  top: 70%;
  left: 43%;

  @media (min-width: 992px) {
    top: 66%;
    left: 44%;
  }
  img {
    width: 40%;
    height: 40%;
    @media (min-width: 576px) {
      width: 70%;
      height: 70%;
    }
    @media (min-width: 1920px) {
      width: 90%;
      height: 90%;
    }
  }
}

.ping-name {
  top: 75%;
  left: 8%;

  @media (min-width: 992px) {
    top: 70%;
    left: 13%;
  }
  img {
    width: 40%;
    height: 40%;
    @media (min-width: 576px) {
      width: 70%;
      height: 70%;
    }
    @media (min-width: 1920px) {
      width: 90%;
      height: 90%;
    }
  }
}
