.map-box {
  background-image: url(../../images/mapButton.png);
  width: 245px;
  height: 215px;
  background-size: contain;
  background-repeat: no-repeat;
  &:hover {
    background-image: url(../../images/mapButtonHover.png);
  }

  .map-button {
    display: block;
    line-height: 215px;
  }
}
