@use "../utility";

.popuping {
  width: 760px;

  header {
    height: 60px;
    background-color: utility.$secondary-light;
    position: relative;

    @media (min-width: 1024px) {
      background-color: utility.$secondary-dark;
    }
    h2 {
      color: white;
      font-size: 0;
      font-weight: 500;
      text-align: center;
      height: 60px;
      line-height: 60px;
      @media (min-width: 1024px) {
        font-size: 16px;
      }
    }
  }

  button {
    border: 1px solid transparent;
    background-color: transparent;

    &:focus-visible {
      outline: 1px solid transparent;
    }
  }

  .close {
    width: 20px;
    height: 20px;
    background-image: url("../../images/black-cross.png");

    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;

    @media (min-width: 1024px) {
      background-image: url("../../images/Vector.png");
    }

    &--black {
      width: 20px;
      height: 20px;
      background-image: url("../../images/black-cross.png");
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

  main {
    padding: 20px 40px;
    background-color: utility.$secondary-light;

    @media (min-width: 1024px) {
      background-color: #fff;
    }
    .people-img-container {
      text-align: center;
      img {
        width: 200px;
        height: 195px;
        @media (min-width: 992px) {
          float: left;
          margin-right: 16px;
        }
      }
    }

    h3 {
      margin: 10px 0;
      @media (min-width: 992px) {
        margin-bottom: 16px;
        font-size: 24px;
      }
    }

    p {
      line-height: 21.27px;
      font-size: 14px;
    }

    .facebook-button {
      margin-left: 219px;
    }
  }
}

dialog {
  padding: 0;
  border: 1px solid transparent;
  overflow: scroll;

  .content {
    h2 {
      margin: 10px 0;
    }
  }
}

.street-speech {
  width: 100%;
  height: 100%;
}

.mobile-popuping {
  form {
    display: flex;
    flex-direction: column;
  }
  header,
  main {
    background-color: utility.$secondary-light;
  }
}
