@use "../utility";

.sticky-notes {
  width: 977px;
  margin: 100px auto;
  background: linear-gradient(to right bottom, transparent 50%, #fff 0)
      no-repeat 0% 0 / 100px 100px,
    linear-gradient(135deg, transparent 70px, #ffffffcc 0);
  font-family: Noto Sans TC;

  .speech-record {
    padding: 24px 40px 40px 40px;

    h2 {
      margin-bottom: 53px;
      font-size: 36px;
      font-weight: 700;
      text-align: center;
    }
    .upper-theme {
      display: flex;

      font-size: 16px;
      font-weight: 700;

      .activity-theme,
      .event-name {
        margin-right: 176px;
      }
      .date {
        margin-right: 73px;
      }
    }

    .item {
      margin-top: 20px;
      .content {
        display: flex;
        font-size: 14px;
        font-weight: 500;

        .activity-theme,
        .event-name {
          width: 200px;
          height: 40px;
          margin-right: 40px;
        }

        .date {
          width: 105px;
          height: 40px;
        }

        .Slideshow-download,
        .video-download {
          display: inline-block;
          padding: 10px 15px;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          background-color: #28c8c8;
          border-radius: 4px;
        }
        .video-download {
          margin-left: 15px;
        }
      }
      .Down {
        height: 1px;
        margin-top: 20px;
        background-color: #fff;
      }
    }
  }
}
